*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 10px;
  }
  
  .card-header {
    background-color: #333;
    padding: 16px;
    text-align: center;
  }
  
  .card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  
  .card-body {
    padding: 16px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    padding: 12px 24px;
    margin-left: 13px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
  }
  
  .btn:hover {
    background-color: #ccc;
    color: #333;
  }


.title-container{
    width: 100%;
    height: 40vh;
    background-image:linear-gradient(#00000051, #00000051), url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h1{
    color: #fff;
    font-size: 4rem;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
}

.content-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.selectEquipos{
  width: 100%;
  border: 1px solid #ccc;
  padding: .5rem;
  border-radius: 5px;
}


/*=========
card jugador
=========*/
.card-jugador{
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 24px;
    border: solid 1px #f2f2f2;
    height: 100%;
    overflow: hidden;
}

.card-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jugador-img{   
    width: 40%;
}

.jugador-img img{
    width: 100%;
}


.jugador-info{
    padding: 2rem 1rem;
    height: 100%;
}